@font-face {
  font-family: sourceSansPro;
  src: url(source-sans-pro.regular.ttf);
}

html, body {
  font-family: sourceSansPro;
  text-transform: none;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.08em;
  height: 100%;
  background-color: #efefef !important;
}

.navbar {
  color: #000;
  border-bottom: 1px solid #d2d2d2;
  -webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
  box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
  font-weight: bold;
  z-index: 999;
}

.main {
  background-color: #00000000;
}

/* .content {
  background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;
  background-repeat: no-repeat;
  background-size: 40px 40px;
} */
.content {
  padding: 50px;
  position: relative;
}
.content::before {
  content :"";
  position: absolute;
  inset: 0;
  background: repeating-linear-gradient(360deg, rgba(82,54,171,1) 0%, rgba(228,25,55,1) 20%, rgba(228,25,55,1) 49%, rgba(82,54,171,1) 51%, rgba(82,54,171,1) 80%, rgba(228,25,55,1) 100%);
  -webkit-mask: conic-gradient(from 180deg at top 30px right 30px,#0000 90deg,#000 0) 100% 0 / 60px 60px no-repeat,
  conic-gradient(from 0deg   at bottom 30px left  30px,#0000 90deg,#000 0) 0 100% / 60px 60px no-repeat;
  mask: conic-gradient(from 180deg at top 30px right 30px,#0000 90deg,#000 0) 100% 0 / 60px 60px no-repeat,
  conic-gradient(from 0deg   at bottom 30px left  30px,#0000 90deg,#000 0) 0 100% / 60px 60px no-repeat;
}

.title {
  color: #200a58;
  font-weight: bold;
  font-size: 3rem;
}

.subtitle {
  font-size: 1.5rem;
}

.highlight {
  color: #200a58;
  font-weight: bold;
}