################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TALPA/FileContentIndex/20c8a056-6b23-4710-badf-f20a21534229.vsidx
/.vs/TALPA/FileContentIndex/04bb35cc-9599-4dfa-8dea-6b601d12dc47.vsidx
/.vs/TALPA/FileContentIndex/68fead83-1bf4-4742-b8a0-6b6f14271d63.vsidx
/.vs/TALPA/FileContentIndex/6ccc6cfa-560d-4cb7-a987-ce0677ad70a1.vsidx
