@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Stemmen";
    ViewData["Page"] = "Stemmen";
}

@model TALPA.Models.PollViewModel

<div class="d-md-flex align-items-center justify-content-between mb-3">
	<h1>Stem op je favoriete uitje</h1>
	<p class="mb-0"><small class="text-muted">Resterende tijd: <span id="countdown"></span></small></p>
</div>

@if (Model.PollChosen && Model.PollChosen)
{
	
} 
else
{
	<p class="text-center">Op dit moment is er geen stemming bezig.</p>
}

<div class="row">
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between mb-2">
					<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
					<p class="card-text ps-3"><small class="text-muted text-nowrap">5 stemmen</small></p>
				</div>
				<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
				<p class="mb-0">Categorie: Buiten, Middag</p>
				<p>Beperkingen: Tijd, Alcohol</p>
				<a class="btn mt-auto">Uitje Kiezen</a>
			</div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between mb-2">
					<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
					<p class="card-text ps-3"><small class="text-muted text-nowrap">5 stemmen</small></p>
				</div>
				<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
				<p class="mb-0">Categorie: Buiten, Middag</p>
				<p>Beperkingen: Tijd, Alcohol</p>
				<a class="btn mt-auto">Uitje Kiezen</a>
			</div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between mb-2">
					<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
					<p class="card-text ps-3"><small class="text-muted text-nowrap">5 stemmen</small></p>
				</div>
				<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
				<p class="mb-0">Categorie: Buiten, Middag</p>
				<p>Beperkingen: Tijd, Alcohol</p>
				<a class="btn mt-auto">Uitje Kiezen</a>
			</div>
		</div>
	</div>
</div>

<p class="text-center">Mijn beschikbaarheid: 10 april 2024, 17 april 2024, 20 april 2024</p>
<div class="row mt-3">
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between mb-2">
					<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
					<p class="card-text ps-3"><small class="text-muted text-nowrap">5 stemmen</small></p>
				</div>
				<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
				<p class="mb-0">Categorie: Buiten, Middag</p>
				<p>Beperkingen: Tijd, Alcohol</p>
			</div>
			<div class="d-flex justify-content-center align-items-center position-absolute w-100 h-100 bg-light bg-opacity-75 rounded">
				<svg xmlns="http://www.w3.org/2000/svg" fill="#5236AB" class="bi bi-check h-50" viewBox="0 0 16 16">
					<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
				</svg>
			</div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between mb-2">
					<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
					<p class="card-text ps-3"><small class="text-muted text-nowrap">5 stemmen</small></p>
				</div>
				<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
				<p class="mb-0">Categorie: Buiten, Middag</p>
				<p>Beperkingen: Tijd, Alcohol</p>
			</div>
			<div class="position-absolute w-100 h-100 bg-light bg-opacity-75 rounded"></div>
		</div>
	</div>
	<div class="col-lg-4 mb-4">
		<div class="card h-100">
			<div class="card-body">
				<div class="d-flex align-items-start justify-content-between mb-2">
					<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
					<p class="card-text ps-3"><small class="text-muted text-nowrap">5 stemmen</small></p>
				</div>
				<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
				<p class="mb-0">Categorie: Buiten, Middag</p>
				<p>Beperkingen: Tijd, Alcohol</p>
			</div>
			<div class="position-absolute w-100 h-100 bg-light bg-opacity-75 rounded"></div>
		</div>
	</div>
</div>

<script src="~/scripts/countdown.js"></script>
