@{
	Layout = "_DashboardLayout";
	ViewData["Title"] = "Suggesties";
	ViewData["Page"] = "Suggesties";
}

<div class="d-flex align-items-center justify-content-between mb-3">
	<h1>Uitjesuggesties</h1>
	<a class="btn">Nieuwe suggestie</a>
</div>
<div class="row">
	<div class="col-lg-3 mb-3">
		<div class="accordion accordion-flush" id="filterAccordion">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter1">
						Categorie
					</button>
				</h2>
				<div id="filter1" class="accordion-collapse collapse show">
					<div class="accordion-body">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="flexCheckDefault">
							<label class="form-check-label text-capitalize" for="flexCheckDefault">Binnen</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="flexCheckDefault">
							<label class="form-check-label text-capitalize" for="flexCheckDefault">Buiten</label>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filter2">
						Beperkingen
					</button>
				</h2>
				<div id="filter2" class="accordion-collapse collapse show">
					<div class="accordion-body">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="flexCheckDefault">
							<label class="form-check-label text-capitalize" for="flexCheckDefault">Water</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="flexCheckDefault">
							<label class="form-check-label text-capitalize" for="flexCheckDefault">Alcohol</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-9">
		<div class="d-flex align-items-end justify-content-between">
			<p class="m-0">5 resultaten</p>
			<select class="form-select ms-auto w-auto">
				<option value="trending" selected>Trending</option>
				<option value="popular">Meest populair</option>
				<option value="latest">Nieuwste</option>
			</select>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex align-items-start justify-content-between mb-2">
							<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
							<p class="card-text ps-3"><small class="text-muted">5x gekozen</small></p>
						</div>
						<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
						<p class="mb-0">Categorie: Buiten, Middag</p>
						<p>Beperkingen: Tijd, Alcohol</p>
						<a class="btn mt-auto">Suggestie Kiezen</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 mb-4">
				<div class="card h-100">
					<div class="card-body">
						<div class="d-flex align-items-start justify-content-between mb-2">
							<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
							<p class="card-text ps-3"><small class="text-muted">5x gekozen</small></p>
						</div>
						<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
						<p class="mb-0">Categorie: Buiten, Middag</p>
						<p>Beperkingen: Tijd, Alcohol</p>
						<a class="btn mt-auto">Suggestie Kiezen</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>