@{
	Layout = "_DashboardLayout";
	ViewData["Title"] = "Suggesties";
	ViewData["Page"] = "Suggesties";
}

<div class="d-sm-flex align-items-center justify-content-between">
	<h1>Suggesties</h1>
	<button type="button" class="btn">Nieuwe suggestie</button>
</div>