@{
	Layout = "_DashboardLayout";
	ViewData["Title"] = "Uitje";
	ViewData["Page"] = "Uitje";
}

<h1 class="mb-3">Huidig uitje</h1>
<p class="text-center">Op dit moment zijn er geen uitjes gepland.</p>
<div class="card h-100">
	<div class="card-header">
		<div class="d-flex align-items-center justify-content-between">
			<div>
				<a class="text-btn" target="_blank" href="https://maps.google.com/?q=Molendijk 6, 6107 AA Stevensweert">Molendijk 6, 6107 AA Stevensweert</a>
				<br />
				<p class="mb-0">10 april 2024 17:00 tot 19:30</p>
			</div>
			<a class="btn" target="_blank" href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Bedrijfs+uitje:+Stadswandeling&dates=20240430T160000/20240430T173000&location=Molendijk+6,+6107+AA+Stevensweert&details=Verken+de+bezienswaardigheden+en+verborgen+juweeltjes+van+de+stad+tijdens+een+ontspannen+wandeling+met+je+collega%27s.%0A%0ATeam:+Dev+Team%0ALocatie:+Molendijk+6,+6107+AA+Stevensweert&location=51.1333,5.8426">
				Toevoegen aan agenda
			</a>
		</div>
	</div>
	<div class="card-body">
		<h5 class="card-title overflow-hidden mb-0">Stadswandeling</h5>
		<p class="card-text">Verken de bezienswaardigheden en verborgen juweeltjes van de stad tijdens een ontspannen wandeling met je collega's.</p>
		<p class="mb-0">Categorie: Buiten, Middag</p>
		<p>Beperkingen: Tijd, Alcohol</p>
	</div>
</div>