﻿@{
    Layout = "_HomeLayout";
}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">TALPA</h1>
    <div class="col-lg-6 mx-auto">
        <div class="content">
            <p class="lead mb-4">Laat uw team moeiteloos bedrijfsuitjes plannen. Met <strong>TALPA</strong> kunnen teamleden gemakkelijk stemmen op hun favoriete optie, terwijl wij de planning eenvoudig en efficiënt maken. Versterk uw teambanden en creëer onvergetelijke momenten.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="/uitje" class="btn btn-lg px-4 me-sm-3">Probeer nu</a>
            </div>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="~/images/screenshot.png" class="img-fluid border rounded-3 shadow-lg mb-md-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>