﻿@{
    Layout = "_HomeLayout";
}

<div class="content mt-5">
    <h1 class="title">TALPA</h1>
    <p class="subtitle">Team Activiteiten Logistieke Planning Applicatie</p>
    <br>
    <p class="lead">Laat uw team moeiteloos bedrijfsuitjes plannen. Met <span class="highlight">TALPA</span> kunnen teamleden gemakkelijk stemmen op hun favoriete optie, terwijl wij de planning eenvoudig en efficiënt maken. Versterk uw teambanden en creëer onvergetelijke momenten.</p>
    <a class="btn mb-3" href="/uitje">Probeer nu</a>
</div>