@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Team Activiteiten Logistieke Planning Applicatie";
}

@model TALPA.Models.UserProfile

<div class="content">
    <h1 class="title">TALPA</h1>
    <p class="subtitle">Team Activiteiten Logistieke Planning Applicatie</p>
    <br>
    <p class="lead">Laat uw team moeiteloos bedrijfsuitjes plannen. Met <span class="highlight">TALPA</span> kunnen teamleden gemakkelijk stemmen op hun favoriete optie, terwijl wij de planning eenvoudig en efficiënt maken. Versterk uw teambanden en creëer onvergetelijke momenten.</p>
</div>
