.section {
    background-color: #fff;
    border-radius: 20px;
}

.corner {
    width: 5rem;
    height: 5rem;
    background: repeating-linear-gradient(360deg, rgba(82,54,171,1) 0%, rgba(228,25,55,1) 100%);
}

.corner.corner-rt {
    margin-top: 1px;
    right: 0;
}

.corner.corner-lb {
    bottom: 0;
}

.corner:after{
    width: 51%;
    height: 51%;
    background:#efefef;
    display:block;
    position:absolute;
    content:'';
}

.corner.corner-rt:after {
    bottom: -1px;
    left: -1px;
}

.corner.corner-lb:after {
    right: -1px;
    top: -1px;
}

.title {
    color: #200a58;
    font-weight: bold;
    font-size: 3rem;
    padding-left: 1rem;
}

.m-h-100 {
    max-height: 100%;
}