.navbar {
    color: #000;
    border-bottom: 1px solid #d2d2d2;
    -webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    font-weight: bold;
    z-index: 999;
    position: static !important;
    top: 0;
}

.navbar-brand {
    color: #E11937 !important;
    font-size: 2.5rem !important;
}

.nav-link.active, .nav-link:hover {
    color: #5236AB !important;
}

.dropdown-item:active {
    background: #fff !important;
    color: #212529 !important;
}
