@font-face {
    font-family: sourceSansPro;
    src: url(../fonts/source-sans-pro.regular.ttf);
}

html, body {
    font-family: sourceSansPro;
    text-transform: none;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.08em;
    height: 100%;
    background-color: #efefef !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #acacac;
}

.navbar {
    color: #000;
    border-bottom: 1px solid #d2d2d2;
    -webkit-box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    box-shadow: 0 0.5px 1px rgba(0,0,0,0.25);
    font-weight: bold;
    z-index: 999;
    position: static !important;
    top: 0;
}

.main {
    background-color: #00000000;
    height: 80%;
}

.currentPage {
    color: #5236AB !important;
}

.nav-link:hover {
    color: #5236AB !important;
}

.clickable {
    cursor: pointer;
}

.invalid {
    color: rgb(186, 28, 28) !important;
}

.dropdown-menu {
    width: 300px !important;
    z-index: 1021;
}

.vertical-center-box {
    align-items: center;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
}

.badge-secondary {
    background: repeating-linear-gradient(-90deg, rgba(82,54,171,1) 0%, rgba(228,25,55,1) 100%) !important;
    background-attachment: fixed !important;
}

.alertRemove {
    animation: alertRemove 1s linear;
}

.alertRemoved {
    height: 0px;
    width: 0px;
    right: -500px !important;
}

@keyframes alertRemove {
    0% {
        right: 0;
    }

    50% {
        right: -500px;
    }

    100% {
        right: -500px;
        height: 0px;
        width: 0px;
    }
}

.r-0 {
    right: 0;
}