body {
    background-color: #efefef !important;
}

.text-btn {
    text-decoration: none !important;
    color: #5236AB !important;
}

.text-btn:hover {
    color: #734eeb !important;
}

.btn {
    border: none !important;
    color: #fff !important;
    background-color: #5236AB !important;
}

.btn:hover {
    background-color: #734eeb !important;
}

.btn-sec {
    background-color: #6e6e6e !important;
}

.btn-sec:hover {
    background-color: #878787 !important;
}

.btn:focus, .btn:active, .form-select:focus, .form-select:active, .accordion-button:focus, .accordion-button:active, .form-control:focus, .form-control:active, .btn-close:focus, .btn-close:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #5236AB !important;
}

.form-check-input {
    outline: none !important;
    box-shadow: none !important;
}

.form-check-input:focus, .form-check-input:active {
    border-color: rgba(0, 0, 0, 0.25) !important;
}

.accordion-item {
    border: none !important;
}

.accordion-button, .accordion-button:focus, .accordion-button:active {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125) !important;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #000f !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000f'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.form-check-input:checked {
    border-color: rgba(0, 0, 0, 0.25) !important;
    background-color: #5236AB !important;
}

.dropdown .btn {
    background-color: #fff !important;
    color: #000f !important;
    border: 1px solid #ced4da !important;
}

.dropdown-item.active {
    background-color: #fff !important;
    color: #5236AB !important;
    font-weight: bold !important;
}

.dropdown-item:focus, .dropdown-item:active {
    background-color: #fff !important;
}

.highlighted {
    background-color: #5236ab5f !important;
}

.loader p, .loader h5, .loader small {
    color: transparent !important;
    background-color: #b6b6b6 !important;
}

.loader span {
    visibility: hidden !important;
}

.form-control.is-invalid:focus, .form-control.is-invalid:active {
    border-color: #dc3545 !important;
}

.badge, .bg-primary {
    background-color: #5236abff !important;
}

.alert  {
    z-index: 1040 !important;
    min-width: 300px !important;
}

.dateInput {
    resize: none !important;
}

.hidden {
    visibility: hidden !important;
}

.time-dropdown {
    max-height: 300px !important;
    overflow: auto !important;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.time-dropdown::-webkit-scrollbar {
    display: none !important;
}

.timeGroup.focused {
    border: 1px solid #5236AB !important;
}